In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split
import scipy.stats as stats
%matplotlib inline

In [36]:
df = pd.read_csv('Google-Playstore.csv\Google-Playstore.csv')
df

,App_Name,App_Id,Category,Rating,Rating_Count,Installs,Minimum_Installs,Maximum_Installs,Free,Price,...,Developer_Id,Developer_Website,Developer_Email,Released,Last_Updated,Content_Rating,Privacy_Policy,Ad_Supported,In_App_Purchases,Editors_Choice
0,foodpanda - Local Food & Grocery Delivery,com.global.foodpanda.android,Food & Drink,4.4,1258493.0,"10,000,000+",10000000.0,48828081,True,0.00,...,Foodpanda GmbH a subsidiary of Delivery Hero SE,http://foodpanda.com,appsupport@foodpanda.com,"Nov 19, 2013",1594061045000,Everyone,https://www.foodpanda.sg/contents/privacy.htm,False,False,False
1,"Tripadvisor Hotel, Flight & Restaurant Bookings",com.tripadvisor.tripadvisor,Travel & Local,4.4,1360172.0,"100,000,000+",100000000.0,371284181,True,0.00,...,Tripadvisor,https://www.tripadvisor.com/help,mobilehelp@tripadvisor.com,"Jul 12, 2010",1593700848000,Everyone,https://www.tripadvisor.com/pages/privacy.html,True,False,False
2,Safeway Delivery & Pick Up,com.safeway.shop,Shopping,4.2,5532.0,"500,000+",500000.0,816102,True,0.00,...,"Albertsons Companies, Inc.",http://www.safeway.com,homeshopping@customerservice.safeway.com,"Sep 5, 2013",1594921910000,Everyone,http://www.safeway.com/ShopStores/Privacy-Poli...,False,False,False
3,My CookBook Ad-Free,fr.cookbookpro,Food & Drink,4.7,2531.0,"10,000+",10000.0,16171,False,5.99,...,Maadinfo Services,https://www.mycookbook-online.net,support@mycookbook-online.net,"Sep 25, 2011",1594105888000,Everyone,https://www.mycookbook-android.com/site/privac...,False,False,False
4,Talabat: Food & Grocery Delivery,com.talabat,Food & Drink,4.4,197649.0,"5,000,000+",5000000.0,9218590,True,0.00,...,Talabat,http://www.talabat.com,info@talabat.com,"Jan 19, 2012",1594821076000,Mature 17+,https://www.talabat.com/kuwait/privacy,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603042,Club Automation,com.clubautomation.club.automation,Health & Fitness,0.0,0.0,100+,100.0,388,True,0.00,...,"Club Automation, LLC",https://www.clubautomation.com/club-automation...,support@clubautomation.com,"May 8, 2018",1573488910000,Everyone,https://www.clubautomation.com/privacy-policy,False,False,False
603043,Franklin Athletic Club,com.clubautomation.fac,Health & Fitness,0.0,0.0,5+,5.0,7,True,0.00,...,"Club Automation, LLC",NaN,support@clubautomation.com,"Mar 2, 2020",1583177541000,Everyone,https://www.clubautomation.com/privacy-policy,False,False,False
603044,College Park Athletic Club,com.clubautomation.cpac,Health & Fitness,0.0,0.0,50+,50.0,53,True,0.00,...,"Club Automation, LLC",https://www.cpacweb.com/,info@cpacweb.com,"Oct 26, 2017",1574722249000,Everyone,https://www.clubautomation.com/privacy-policy/,False,False,False
603045,Sequoia Wellness,com.clubautomation.sequoia.health,Health & Fitness,0.0,0.0,10+,10.0,24,True,0.00,...,"Club Automation, LLC",https://www.clubautomation.com/club-automation...,support@clubautomation.com,"Oct 17, 2019",1574711615000,Everyone,https://www.clubautomation.com/privacy-policy/,False,False,False
603046,ACAC FITNESS & WELLNESS APP,com.clubautomation.atlantic.coast,Health & Fitness,2.2,6.0,"1,000+",1000.0,2279,True,0.00,...,"Club Automation, LLC",https://www.clubautomation.com/club-automation...,support@clubautomation.com,"Aug 5, 2018",1575661772000,Everyone,https://www.clubautomation.com/privacy-policy/,False,False,False

In [37]:
df.isnull().sum()

App_Name                  1
App_Id                    0
Category                  0
Rating                 3760
Rating_Count           3760
Installs                172
Minimum_Installs        172
Maximum_Installs          0
Free                      0
Price                     0
Currency                181
Size                      0
Minimum_Android         491
Developer_Id              2
Developer_Website    179264
Developer_Email          37
Released              32278
Last_Updated              0
Content_Rating            0
Privacy_Policy        85385
Ad_Supported              0
In_App_Purchases          0
Editors_Choice            0
dtype: int64

In [43]:
df_1=df.dropna()

In [44]:
df_1.isnull().sum()

App_Name             0
App_Id               0
Category             0
Rating               0
Rating_Count         0
Installs             0
Minimum_Installs     0
Maximum_Installs     0
Free                 0
Price                0
Currency             0
Size                 0
Minimum_Android      0
Developer_Id         0
Developer_Website    0
Developer_Email      0
Released             0
Last_Updated         0
Content_Rating       0
Privacy_Policy       0
Ad_Supported         0
In_App_Purchases     0
Editors_Choice       0
dtype: int64

In [47]:
df_bnb = pd.read_csv('Google-Playstore.csv\AB_NYC_2019.csv')
df_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [57]:
df_bnb.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [54]:
df_retail = pd.read_csv('Google-Playstore.csv/nyc-rolling-sales.csv')
df_retail

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [56]:
df_retail.isnull().sum()

Unnamed: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [ ]:
c1 = df_retail['BOROUGH'] == 'Williamsburg'